<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <style type="text/css">
            %% include "style.css"

            %% include "w3.css"

            %% include "w3-theme-black.css"

        </style>
        <title>Atlassian permissions</title>
    </head>
    <body style="text-align: center">
        <h1 class="w3-xxxlarge">Atlassian permissions</h1>

        %% if metadata['header_messages']
        <h2 class="w3-xlarge">Notice</h2>
        <ul>
        %% for message in metadata['header_messages'].values()
            <li>{{ message }}</li>
        %% endfor
        </ul>
        %% endif

        %% for service_key, project_dict in permdata.items()
        <div class="w3-responsive w3-card-4 service-container">
        <h2 class="w3-xlarge">{{ service_key }}</h2>
            <table class="w3-table w3-striped w3-white service-table">
                <thead>
                    <tr class="w3-theme">
                        <th>Project</th> <!-- TODO -->
                        <th>Permission</th>
                        <th>Users</th>
                        <th>Groups</th>
                    </tr>
                </thead>
                <tbody>
                    %% for project_key, permission_dict in project_dict.items()
                    %% set outerindex = loop.index
                    %% for permission in permission_dict.values()
                    <tr>
                        %% if loop.index==1
                        <td rowspan="{{permission_dict|length}}" class="projectcol" style="{% if loop.index==1 and outerindex != 1 %}border-top:1px solid #eee;{% endif %}">{{project_key}}</td> <!-- TODO -->
                        %% endif
                        <td {% if loop.index==1 and outerindex != 1 %}style="border-top:1px solid #aaa;"{% endif %}>{{permission.name}}</td>
                        <td {% if loop.index==1 and outerindex != 1 %}style="border-top:1px solid #aaa;"{% endif %}>
                            <ul class="w3-ul w3-margin-bottom">
                                %% for user in permission.users
                                <li>
                                    {{ user }}
                                </li>
                                %% endfor
                            </ul>
                        </td>
                        <td {% if loop.index==1 and outerindex != 1 %}style="border-top:1px solid #aaa;"{% endif %}>
                            <ul class="w3-ul w3-margin-bottom">
                                %% for group in permission.groups
                                <li>
                                    {{ group }}
                                </li>
                                %% endfor
                            </ul>
                        </td>
                    </tr>
                    ## end of permission loop
                    %% endfor

                    ## end of project loop
                    %% endfor
                </tbody>
            </table>
            </div>
        %% endfor
    </body>
</html>
